$header-color: #FFF;
$actual-color: #34568C;
$accent-color: #FEC960;
$third-color: #FAF8E6;
$nav-color: #000;
$bg-color: #FFF;
$text-color: #FFF;
$text-color-black: #000;
$logo-color: #000;

$btn-color: #FEC960;
$btn-color-dark: #000;
$btn-hover:#6194e9;
$btn-color-text: #34568C;
$btn-color-hover-text: #fff;
$btn-color-card: #34568C;
$btn-color-card-text: #fff;
$btn-suggest-color: #6194e93b;

$title-card-color: #34568C;
$title-blog-color: #000;
$bg-blog-color: #6194e92e;

$navigation-text: 16px;

$sub-text: 20px;
$title-sub-text: 18px;
$logo-sub-text: 14px;

$h1-text: 48px;

$title-text: 48px;
$second-title-text: 28px;
$text-site: 14px;

$card-title: 14px;
$card-text: 14px;
$card-btn: 13px;
$btn-text: 14px;

$footer-text-subtitle: 24px;
$footer-text-title: 35px;

$navigation-text-mobile: 24px;
$h1-text-mobile: 24px;
$sub-text-mobile: 14px;
$title-text-mobile: 34px;

$navigation-text-tablet: 36px;
$h1-text-tablet: 34px;
$sub-text-tablet: 20px;
$btn-tablet-text: 20px;
$h2-title-tablet: 42px;