@use 'fonts';
@use 'variables';
@use "sass:meta";
@use 'custom';

body {
  font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
  overflow-x: hidden;
  padding-top: 9%;
}

header {
  background-color: variables.$header-color;

  &.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;
  }

  &.navbar--hidden {
    top: -122px;
  }

  .search {
    background-color: variables.$third-color;

    .form-control {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    .input-group-text {
      background-color: transparent;
      border: none;
    }

    &:focus-within {
      background-color: variables.$bg-color;
      box-shadow: 0 0 0 1px variables.$actual-color;
      transition: 0.2s ease;
    }
  }

  .navjust {
    justify-content: space-between;
  }

  .form-control {
    border-left: none;

    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text,
  .form-control {
    border-radius: 0 !important;
  }

  .navbar-brand {
    .logo-img {
      height: 80px;
    }
  }

  .nav-link {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    color: variables.$nav-color;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease;
    text-decoration: none;

    &.active,
    &:hover {
      color: variables.$actual-color;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 5px;
        width: calc(100% - 10px);
        height: 3px;
        background-color: variables.$actual-color;
      }
    }
  }

  .icon {
    &.active,
    &:hover {
      color: variables.$actual-color;
    }
  }

  .decor {
    text-decoration: none;
    color: variables.$text-color-black;
  }

  .cart-count {
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(50%, -50%);
    background-color: variables.$accent-color;
    color: variables.$text-color-black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 9px;
    border-radius: 50%;
    z-index: 10;
  }
}


.hero-section {
  .hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-image {
    position: relative;

    .hero-text {
      background-color: variables.$actual-color;
      color: variables.$text-color;
      position: absolute;
      top: 20%;
      left: 90%;
      width: 60%;
      transform: translate(-50%, -20%);
      padding: 10px;

      h1 {
        font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
        font-size: variables.$h1-text;
        padding-bottom: 15px;
      }

      .sub-text {
        font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
        font-size: 16px;
        padding-bottom: 15px;
      }

      .btn-explore {
        font-family: #{meta.inspect(fonts.$font-family-sans-serif-light)};
        font-size: variables.$btn-text;
        font-size: variables.$btn-text;
        color: variables.$btn-color-text;
        background-color: variables.$btn-color;
        border-radius: 0 !important;

        &:hover {
          color: variables.$btn-color-hover-text;
          background-color: variables.$btn-hover;
        }
      }
    }
  }

  .arrow {
    color: variables.$actual-color;
  }
}

.search-bar {
  .input-group {
    border-radius: 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    border-bottom: 1px solid variables.$actual-color;

    &:hover {
      border: 1px solid variables.$actual-color;
    }

    .input-group-text {
      background-color: #fff;
      border: none;
      border-right: 0;
    }

    .form-control {
      border-left: 0;
      border: none;
      box-shadow: none;
      color: variables.$actual-color;


      &::placeholder {
        color: variables.$actual-color;
        font-style: italic;
      }

      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}

.workbooks {
  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$h1-text;
    padding-bottom: 15px;
    position: absolute;
  }

  .input-search {
    padding-bottom: 30px;
  }

  .pos-btn {
    padding-left: 70%;
  }

  .cardpad {
    padding: 30px;
  }

  .btn-suggest {
    background-color: variables.$btn-suggest-color;
    color: variables.$btn-color-text;
    font-size: variables.$btn-text;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 27px 25px;

    &:hover {
      color: variables.$btn-color-hover-text;
      background-color: variables.$btn-hover;
    }
  }
}

.workbook-card {
  padding: 10px 30px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #b3b3b3;
  border: 0;

  .img-container {
    position: relative;
    width: 100%;

    .card-img-top {
      width: 100%;
      height: auto;
      display: block;
    }

    .overlay {
      position: absolute;
      left: -47px;
      width: 51%;
      height: 100%;
      background-color: variables.$third-color;
    }
  }

  .card-body .card-img-top {
    position: relative;
  }

  h5 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$card-text;
    text-transform: uppercase;
    color: variables.$title-card-color;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  ul {
    li {
      font-size: variables.$card-text;
      color: variables.$text-color-black;
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      i {
        color: variables.$actual-color;
      }
    }
  }

  .btn-download {
    background-color: variables.$btn-color-card;
    color: variables.$btn-color-card-text;
    font-size: variables.$btn-text;
    border-radius: 0;
    font-weight: 500;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    &:hover {
      color: variables.$btn-color-hover-text;
      background-color: variables.$btn-hover;
    }
  }
}

.btn-more {
  background-color: variables.$btn-color-card;
  color: variables.$btn-color-card-text;
  font-size: variables.$btn-text;
  border-radius: 0;
  font-weight: 500;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;

  &:hover {
    color: variables.$btn-color-hover-text;
    background-color: variables.$btn-hover;
  }
}

.connected-section {
  //background-color: variables.$third-color;
  overflow: hidden;
  min-height: 70vh;
  padding-bottom: 50px;


  .bg-image {
    background-image: url('../img/girls.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 585px;
    width: 90%;
    margin: 0 auto;
  }

  .info-box {
    max-width: 540px;
    background-color: variables.$third-color;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;

    .connected-title {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$second-title-text;
      padding-bottom: 15px;
    }

    .text-connected {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-medium)};
      font-size: variables.$second-title-text;
    }

    .underline {
      height: 3px;
      width: 50%;
      background-color: variables.$accent-color;
    }

    .text-content {
      margin-bottom: 8px;
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
      font-size: variables.$text-site;
    }

    .btn {
      border-radius: 0;
    }

    .btn-learn {
      background-color: variables.$btn-color;
      color: variables.$btn-color-dark;
      font-size: variables.$btn-text;
      border-radius: 0;
      font-weight: 500;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      padding: 10px 15px;

      &:hover {
        color: variables.$btn-color-hover-text;
        background-color: variables.$btn-color-card;
      }
    }
  }
}

//.blog-section {
//  h2 {
//    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
//    font-size: variables.$h1-text;
//    padding-bottom: 15px;
//  }
//
//  .blog-card {
//    border: none;
//    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
//    overflow: hidden;
//
//    .blog-card-content {
//      background-color: variables.$third-color;
//      padding: 30px 30px 30px 20px;
//    }
//
//    .blog-card-content-2 {
//      background-color: variables.$bg-blog-color;
//      padding: 30px 30px 30px 20px;
//    }
//
//    h5{
//      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
//      font-size: variables.$card-text;
//      color: variables.$title-blog-color;
//      margin-bottom: 16px;
//    }
//
//    .blog-img {
//      width: 100%;
//      max-height: 250px;
//      object-fit: cover;
//    }
//
//    .btn {
//      border-radius: 0;
//    }
//
//    .btn-read-more {
//      background-color: variables.$btn-color-card;
//      color: variables.$btn-color-card-text;
//      font-size: variables.$btn-text;
//      border-radius: 0;
//      font-weight: 500;
//      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
//
//      &:hover {
//        color: variables.$btn-color-hover-text;
//        background-color: variables.$btn-hover;
//      }
//    }
//
//  }
//
//  .blog-more-btn {
//    text-transform: uppercase;
//    letter-spacing: 1px;
//    padding: 12px 32px;
//    border-radius: 0;
//  }
//}

.footer-section {
  position: relative;
  background-color: variables.$btn-hover;
  color: variables.$text-color;
  .btn-explore {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-light)};
    font-size: variables.$btn-text;
    color: variables.$btn-color-text;
    background-color: variables.$btn-color;
    border-radius: 0 !important;
    padding: 15px 70px !important;

    &:hover {
      color: variables.$btn-color-hover-text;
      background-color: variables.$btn-hover;
    }
  }
  .bg {
    background-color: variables.$actual-color;
  }

  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$footer-text-title;
    padding-bottom: 15px;

    span {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
      font-size: variables.$footer-text-title;
      padding-bottom: 30%;
    }
  }

  .footer-text {
    width: 40%;
    padding-bottom: 15px;
  }

  h5 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$footer-text-subtitle;
    color: variables.$accent-color;
    padding-left: 25%;

    span {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
      font-size: variables.$footer-text-subtitle;
    }
  }

  .contact-box {
    background-color: variables.$third-color;
    color: variables.$actual-color;
    max-width: 550px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .ampersand {
    position: absolute;
    top: -80px;
    left: -50px;
    z-index: 0;
    pointer-events: none;
  }

  .logo-img {
    height: 130px;
  }

  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid variables.$btn-hover;
    border-radius: 0;
    color: variables.$actual-color;

    &::placeholder {
      border-bottom: 2px solid variables.$btn-hover;
      opacity: 0.7;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 3px solid variables.$btn-hover;
    }
  }

  .btn-send {
    background-color: variables.$btn-color;
    color: variables.$btn-color-dark;
    font-size: variables.$btn-text;
    border-radius: 0;
    font-weight: 500;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    margin-top: 20px;

    &:hover {
      color: variables.$btn-color-hover-text;
      background-color: variables.$btn-color-card;
    }
  }
}

.wpcf7 .wpcf7-form .wpcf7-submit {
  position: relative;
  z-index: 1;
}


.wpcf7 .wpcf7-form-control-wrap {
  position: relative;
}


.wpcf7 .wpcf7-spinner {
  position: absolute;
  top: 75%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

//---------------------card-item----------------------//
.item-section {
  #carouselItems {
    //.carousel-inner {
    //  height: 360px;
    //}

    .carousel-item img {
      //height: 100%;
      //object-fit: contain;
      height: 375px;
      object-fit: cover;
      width: 100%;
    }
  }

  .img-thumbnail {
    padding: 0;
  }

  .thumb {
    width: 150px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    border: 2px solid transparent;
    border-radius: 0;

    &:hover {
      opacity: 0.8;
      border-color: variables.$actual-color;
    }

    &.active {
      border-color: variables.$actual-color;
    }
  }

  .thumb-gallery-wrapper {
    .d-flex.overflow-auto {

      scrollbar-width: none;

      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .item-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$second-title-text;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$second-title-text;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      li {
        p {
          margin-bottom: 8px;
          font-family: #{meta.inspect(fonts.$font-family-sans-serif-light)};
        }

        i {
          color: variables.$actual-color;
        }
      }
    }

    .btn {
      border-radius: 0;
    }

    .btn-login {
      padding: 10px 20px;
      width: 60%;
      background-color: variables.$actual-color;
      color: variables.$text-color;
      margin: 0 auto;

      &:hover {
        background-color: variables.$btn-hover;
      }
    }
  }
}

.links-container {
  font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
  background-color: variables.$actual-color;
  color: variables.$bg-color;

  .materials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file-item {
    .materials-label {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      margin-bottom: 4px;
    }

    .materials-part {
      padding: 10px 60px;
      border: none;
      background-color: transparent;
      display: inline-flex;
      justify-items: center;
      text-decoration: none;
      align-items: center;

      .icon-part {
        background-color: variables.$bg-color;
        padding: 11px 26px;
        clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
        position: absolute;
        margin-left: 0;
        z-index: 1;
        display: flex;
        justify-items: center;
        justify-content: center;

        i {
          color: #EF5350;

        }
      }

      .text-part {
        font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
        background-color: variables.$accent-color;
        color: variables.$text-color-black;
        padding: 6px 15px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
        margin-left: 60px;
        display: flex;
        justify-items: center;
      }
    }
  }
  .vertical-line {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 57%;
      transform: translateY(-50%);
      width: 2px;
      height: 90px;
      background-color: variables.$bg-color;
    }
  }
}

.get-section{
  .get-info {
    flex-direction: column;
  }

  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$second-title-text;
  }

  i {
    color: variables.$actual-color;
  }
}

.study {
  i {
    color: variables.$actual-color;
  }

  span {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
  }

  .accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
    color: inherit;

    &:not(.collapsed) {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.feedback-bg {
  background-color: variables.$third-color;
  display: flex;
  justify-content: center;
  padding: 64px 16px;

  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    text-align: center;
  }

  form {
    width: 60%;
    margin: 0 auto;

    .rate {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$logo-sub-text;
    }

    .form-control {
      background-color: variables.$bg-color;
      color: variables.$actual-color;
      border: none;
      border-bottom: 1px solid variables.$btn-hover;
      border-radius: 0;
      padding: 14px 18px;
      font-size: 1rem;

      &::placeholder {
        color: variables.$actual-color;
        opacity: 1;
        transition: opacity 0.2s ease;
      }

      &:focus {
        background-color: transparent;
        box-shadow: none;
        border-bottom: 2px solid variables.$btn-hover;
      }

      &:not(:placeholder-shown)::placeholder {
        opacity: 0;
      }
    }

    .esl-heart-fe:hover .path1:before {
      color: variables.$btn-color;
    }

    .esl-heart-fe:active .path1:before {
      color: variables.$btn-color;
    }

    .heart-label input {
      display: none;
    }

    .heart-label {
      cursor: pointer;
      margin-right: 6px;
      position: relative;
    }

    .heart-label input:checked + .esl-heart-fe {
      color: variables.$btn-color;
    }

    .btn-send {
      background-color: variables.$btn-color;
      color: variables.$btn-color-dark;
      font-size: variables.$btn-text;
      border-radius: 0;
      font-weight: 500;
      padding: 12px 30px;

      &:hover {
        color: variables.$btn-color-hover-text;
        background-color: variables.$btn-color-card;
      }
    }
  }
}

//.heart-icon {
//  display: inline-block;
//  font-family: 'esl-connected';
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//  cursor: pointer;
//
//  &::before {
//    content: "\e907";
//    color: #000;
//    transition: color 0.2s ease;
//    background-color: #fff;
//    border-radius: 50px;
//  }
//
//  &.active::before {
//    color: #FEC960;
//  }
//
//  &:hover::before {
//    color: #FEC960;
//  }
//}

.heart-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: #FEC960;
    color: #FAF8E6;
  }

  &:active {
    background-color: #FEC960;
    color: #FAF8E6;
  }

  &::before {
    content: '\2764';
    font-size: 24px;
    color: #FAF8E6;
  }

  &.active {
    background-color: #FEC960;
    color: #FAF8E6;
  }
}

.footer-mini {
  background-color: variables.$btn-hover;
  color: variables.$text-color;

  .bg {
    background-color: variables.$actual-color;
  }

  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$footer-text-title;
    padding-bottom: 15px;
  }

  .footer-text-mini {
    width: 40%;
    padding-bottom: 15px;
  }

  .btn-connected {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    background-color: variables.$btn-color;
    color: variables.$btn-color-dark;
    border-radius: 0;
    padding: 20px 15px;
    width: 25%;

    &:hover {
      background-color: variables.$btn-hover;
      color: variables.$btn-color-hover-text;
    }
  }
}

//---------------------contact-page----------------------//

.contact-section {

  h1 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$footer-text-title;
    padding-bottom: 15px;
    text-align: center;
  }

  .contact-info {
    display: flex;
    justify-content: space-around;

    span {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    }
  }

  h5 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    text-align: center;
  }

  .contact-box {
    background-color: variables.$third-color;
    color: variables.$actual-color;
    max-width: 660px;
    position: relative;
  }

  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid variables.$btn-hover;
    border-radius: 0;
    color: variables.$actual-color;

    &::placeholder {
      border-bottom: 2px solid variables.$btn-hover;
      opacity: 0.7;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 3px solid variables.$btn-hover;
    }
  }

  .btn-send {
    background-color: variables.$btn-color;
    color: variables.$btn-color-dark;
    font-size: variables.$btn-text;
    border-radius: 0;
    font-weight: 500;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    margin-top: 20px;

    &:hover {
      color: variables.$btn-color-hover-text;
      background-color: variables.$btn-color-card;
    }
  }
}

//----------page about-------------------//

.main-section {

  .main-text {
    background-color: variables.$actual-color;
    color: variables.$text-color;
    padding: 80px 250px 80px 250px;

    h1 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$h1-text;

      span {
        display: block;
      }
    }
  }
}

.all-section {
  text-align: center;
  background-color: variables.$third-color;

  h2 {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$title-text;
    color: variables.$actual-color;
  }

  .text-block {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
    font-size: variables.$sub-text;
    padding: 50px 240px;
  }

  .card {
    background-color: #ffe066cc;
    border: 0;
    border-radius: 0;

    .card-body {
      text-align: start;
    }

    .card-text-title {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      color: variables.$actual-color;
    }

    .card-text-sub {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$sub-text;
      color: variables.$text-color-black;
    }
  }

  .bg-block {
    background-color: variables.$bg-color;
  }

  .numbers-text {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: 100px;
    color: #ffe066cc;
    margin-block-start: -30px;
  }

  .title-block {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    color: variables.$actual-color;
    font-size: variables.$title-sub-text;
  }

  .sub-block {
    width: 430px;
  }

  .btn-contact {
    display: flex;
    justify-content: center;
  }

  .btn-work-blog {
    font-size: variables.$card-btn;
    background-color: variables.$actual-color;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    color: variables.$text-color;
    box-shadow: 2.22px 2.01px 5px #807F80;

    &:hover {
      background-color: variables.$btn-hover;
    }
  }

  .final-text {
    font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    font-size: variables.$title-sub-text;
    padding: 60px 240px;
    margin: 0;
  }
}

//------404--------
.error {
  .oops{
    h2{
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$title-text-mobile;
      color: variables.$actual-color;
    }
  }
  .text-error {
    h1 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: 56px;
    }
  }

  .looking-text {
    p {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-regular)};
    }
  }

  .btn-go-home {
    padding: 10px 20px;
    width: 60%;
    background-color: variables.$actual-color;
    color: variables.$text-color;
    margin: 0 auto;
    border-radius: 0;

    &:hover {
      background-color: variables.$accent-color;
      color: variables.$text-color-black;
    }
  }
}

#wishlist-toast {
  position: fixed;
  bottom: 80%;
  right: 50%;
  background-color: variables.$actual-color;
  color: #fff;
  padding: 12px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 9999;
  font-size: 14px;
}

#wishlist-toast.show {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 575px) {
  .hero-section .hero-div {
    padding-top: 65px;
  }

  .item-section {
    .item {
      padding-top: 70px;
    }

    .img-thumbnail {
      padding: 0;
    }

    .thumb {
      width: 23%;
    }

    .item-content h2 {
      padding-top: 15px;
    }

    .item-content ul li {
      margin-bottom: 20px !important;
    }
  }

  .footer-mini {
    background-color: transparent;
  }

  .main-section{
    .main-text {
      padding: 30px 20px;

      h1 {
        font-size: 24px;
      }
    }
  }

  .wpcf7 .wpcf7-spinner {
    top: 81%;
    left: 44%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hero-section .hero-div {
    padding-top: 65px;
  }

  .item-section {
    .item {
      padding-top: 10%;
    }

    .thumb {
      width: 23%;
    }

    .item-content h2 {
      padding-top: 20px;
    }

    .item-content ul li {
      margin-bottom: 25px !important;
    }
  }

  .wpcf7 .wpcf7-spinner {
    top: 81%;
    left: 45%;
  }
}

@media (max-width: 767px) {
  .links-container {
    .materials {
      flex-direction: column;
    }

    .vertical-line {
      position: relative;

      &::after {
        display: none;
      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-text {
    padding: 40px 30px;
    text-align: center;

    h1 {
      font-size: 28px;
    }
  }

  .row.g-0 {
    flex-direction: column;
  }

  img.object-fit-cover {
    height: auto;
  }

  .main-text {
    padding: 40px 30px;
    text-align: center;

    h1 {
      font-size: 28px;
    }
  }

  .row.g-0 {
    flex-direction: column;
  }

  img.object-fit-cover {
    height: auto;
  }

  .all-section {
    h2 {
      font-size: variables.$title-text;
    }

    .num-col {
      flex-direction: column;
    }
    .numbers-text {
      font-size: 50px;
    }

    .sub-block {
      width: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-image .hero-text {
    h1 {
      font-size: variables.$h1-text-tablet;
    }

    .sub-text {
      font-size: variables.$sub-text-tablet;
    }

    .btn-explore {
      font-size: variables.$btn-tablet-text;
    }
  }

  .workbooks h2 {
    font-size: variables.$h2-title-tablet;
  }

  .btn-suggest {
    font-size: variables.$btn-tablet-text;
  }

  .feedback-bg form {
    width: 80%;
  }

  .item-section {
    .item {
      padding-top: 10%;
    }
  }

  .links-container .vertical-line::after {
    //right: -11px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wpcf7 .wpcf7-spinner {
    top: 74%;
    left: 47%;
  }
}

@media (max-width: 991px) {
  .main-text {
    padding: 50px 60px;

    h1 {
      font-size: 36px;
    }
  }

  .all-section {
    .text-block {
      padding: 20px 10px;
    }

    .final-text {
      padding: 60px 20px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    .nav-link,
    .nav-link-log {
      font-size: variables.$navigation-text-tablet;
      padding: 8px 16px;
    }

    .search {
      font-size: 25px;
    }
  }

  .hero-section .hero-image .hero-text {
    left: 80%;
  }

  .workbooks {
    h2 {
      font-size: variables.$h2-title-tablet;
    }

    .pos-btn {
      padding-left: 82%;
    }

    .btn-suggest {
      font-size: variables.$btn-tablet-text;
    }
  }

  .footer-section {
    .custom-container {
      width: 77%;
    }

    .footer-text {
      width: 60%;
    }

    h5 {
      padding-left: 25%;
    }

    .ampersand {
      left: -36px;
    }
  }

  .links-container .vertical-line::after {
    //right: -37px;
  }
}

@media (max-width: 1199px) {
  body:has(.navbar-collapse.show),
  body.menu-open {
    overflow: hidden;
  }

  header {

    &.navbar {
      height: 67px;
    }

    .navbar-brand .logo-img {
      height: 50px;
      display: none;
    }

    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      background-color: variables.$header-color;
      z-index: 3;
      transition: height 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 32px 16px;

      &.show {
        height: 100vh;
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
      }
    }

    .navbar-toggler {
      border: none;
      background: none;
      z-index: 5;
      position: absolute;
      top: 16px;
      right: 16px;

      &:focus {
        box-shadow: none;
      }

      &.collapsed .icon-open {
        display: inline;
      }

      &.collapsed .icon-close {
        display: none;
      }

      &:not(.collapsed) .icon-open {
        display: none;
      }

      &:not(.collapsed) .icon-close {
        display: inline;
      }
    }

    nav.d-flex {
      text-align: center;
    }

    .nav-link {
      width: 100%;
      font-size: variables.$navigation-text-mobile;
      padding: 12px 0;
    }

    .input-group {
      width: 100%;
      margin-bottom: 16px;
    }

    .icon img {
      height: 20px;
      padding-left: 8px;
    }
  }

  .hero-section .hero-image .hero-text {
    background-color: variables.$actual-color;
    color: variables.$text-color;
    position: static;
    transform: none;
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    text-align: center;

    h1 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$h1-text-mobile;
      padding-bottom: 0;
    }

    .sub-text {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$sub-text-mobile;
      padding-bottom: 0;
    }
  }

  .workbooks {
    h2 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
      font-size: variables.$title-text-mobile;
      position: static;
    }

    .pos-btn {
      padding-left: 0;
    }

    .btn-suggest {
      padding: 15px 25px;
    }

    .cardpad {
      padding: 10px;
    }
  }

  .connected-section {
    padding-bottom: 50px;

    .bg-image {
      width: 100%;
    }
  }

  .footer-section {
    .custom-container {
      width: 100%;
      padding: 5%;
    }

    .footer-text {
      width: 100%;
    }

    h5 {
      padding-left: 8%;
    }

    .ampersand {
      display: none;
    }

    .logo-img {
      height: 10%;
    }
  }

  .footer-mini {

    .footer-text-mini {
      width: 100%;
      padding-bottom: 0;
    }

    .btn-connected {
      padding: 20px 15px;
      width: 50%;
    }
  }

  .feedback-bg {
    flex-direction: column;
    align-items: center;
    padding: 35px 16px;

    h2 {
      font-family: #{meta.inspect(fonts.$font-family-sans-serif-bold)};
    }

    form {
      width: 100%;

      .heart {
        color: variables.$actual-color;

        &:hover {
          color: variables.$accent-color;
        }
      }

      .pos-btn {
        flex-direction: column;
      }

      .more-padd {
        padding-top: 20px;
      }
    }
  }

  .get-section {
    .get-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
      }
    }

    i {
      display: none;
    }
  }

  .item-section {
    .item {
      padding-top: 10%;
    }

    .thumb {
      width: 23%;
    }

    .item-content h2 {
      margin-bottom: 0 !important;
    }

    .item-content ul li {
      margin-bottom: 25px !important;
    }

    .text-center {
      .mt-2 {
        margin-top: 0 !important;
      }
    }
  }

  .main-section {
    .main-text {
      padding: 40px 30px;

      h1 {
        font-size: 42px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1688px) {
  .item-section {

    .thumb {
      width: 23%;
    }

    .item-content h2 {
      margin-bottom: 0 !important;
    }
  }
  .main-section {
    .main-text {
      padding: 50px 40px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .cardbody {
    width: 95%;
    padding-left: 17%;
  }

  .connected-section {
    overflow: hidden;
    min-height: 0;
  }

  .footer-section h5 {
    padding-left: 33%;
  }
}






